
<!-- <div class="row page-head" ng-controller="mediumController">
  <div ng-model="text" medium-editor></div>

<
</div> -->
<head>
  <link rel="stylesheet" href="style/css/vimal.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="welcome_title" style="padding-top:20px; position:fixed ; width: 98%;
    background-color: white;
    z-index: 9999;" ng-controller = "loginController">

   <a href="http://myfit-pensieve.practo.com/#!/vallPosts/status/all/page/1"><img src="/style/images/Practo_health_feed_195h.png" style="width:300px;"></a>

    <div class="dropdown logout">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        {{name}}
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="http://accounts-pensieve.practo.com/home_new">My account</a></li>
        <li><a ng-click="logout()">Logout</a></li>
      </ul>
    </div>
   

   <hr class="heading_line">
</div>

<div class= "row"  >
<div class="col-md-1"></div>

<div style = "top: 7em;" class="col-md-7">
   
   <h3> Submit an article </h3>

   <div name="form" ng-controller="mediumController">
      <div style="margin-bottom:15px" ng-model="title" medium-editor data-placeholder="Enter a title" ></div>
      <div style="margin-bottom:15px" ng-model="content" medium-editor data-placeholder="Write the content" ></div>
      <div style="margin-top:10px ;">
         <span ng-bind='user_msg' style="display: block;"></span>

         <input type="button" class="btn btn-primary" ng-click = "draftBtn()" value = "Save as Draft">
         <input type="button" class="btn btn-success" ng-click = "publishBtn()" value = "Publish">
         <!-- <input type="button" ng-click = "redirectBtn()" value = "Go to All posts"> -->
      </div>

   </div>
</div>  
</div>
   <!-- <input type="submit" value="Reset" ng-click = "reset()"> -->


 <!-- <div class="row page-head" ng-controller="mediumController">
   <div ng-model="text" medium-editor></div> -->


   <!-- <input type="submit" ng-click="clickBtn()" value="Submit" id="submitTheForm" >
<div> <h5>{{content}}</h5></div>

</div> -->
