/*
  * Container *
  Explaining some of the CSS:
  # background-color: #FFFFFF; | To simulate an input box - in case background of the whole page is different
*/
.jt-editor {
  padding: 6px 12px 5px 12px;
  display: block;
  height: auto;
  
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  border: 1px solid #BFBFBF;
  border-radius: 2px;
  cursor: text;
  background-color: #FFFFFF;
}

.jt-editor.focused-true {
  border-color: #66AFE9;
  outline: 0;
}

/* Tag */
.jt-tag {
  background: #DEE7F8;
  border: 1px solid #949494;
  padding: 0px 0px 20px 2px;
  cursor: default;
  
  display: inline-block;
  -webkit-border-radius: 2px 3px 3px 2px;
  -moz-border-radius: 2px 3px 3px 2px;
  border-radius: 2px 3px 3px 2px;
  height: 22px;
}
  
/* Because bootstrap uses it and we don't want that if bootstrap is not included to look different */
.jt-tag {
  box-sizing: border-box;
}

.jt-tag:hover {
  border-color: #BCBCBC;
}

/* Value inside jt-tag */
.jt-tag .value {
  padding-left: 4px;
}

/* Tag when active */
.jt-tag.active-true {
  border-color: rgba(82, 168, 236, 0.8);
}

/* Tag remove button ('x') */
.jt-tag .remove-button {
  cursor: pointer;
  padding-right: 4px;
}
.jt-tag .remove-button:hover {
  font-weight: bold;
}

/* New tag input & Edit tag input */
.jt-tag-new, .jt-tag-edit {
  border: none;
  outline: 0px;
  min-width: 50px; /* Will keep autogrow from lowering width more than 60 */
}

/* New tag input & Edit tag input & Tag */
.jt-tag-new, .jt-tag-edit, .jt-tag {
  margin: 1px 4px 1px 1px;
}

/* Should not be displayed, only used to capture keydown */
.jt-fake-input {
  float: left;
  position: absolute;
  left: -10000px;
  width: 1px;
  border: 0px;
}

/* scaffolding */
/* ----------- */

.tt-dropdown-menu,
.gist {
  text-align: left;
}

.ng-invalid {
  border-color: red !important; /* just for visual */
}

/* site theme */
/* ---------- */

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}